@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: bangla;
  src: url("/fonts/Rajon_Shoily.ttf");
}

h2,
h1 {
  font-family: bangla !important;
}

.hero-bg {
  background: linear-gradient(#0c9678b3, #0c9678), url("/images/bg.jpg");
  background-size: cover;
  z-index: -999;
  background-position: center;
}

nav {
  background: rgba(31, 151, 123, 0.74);
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 9999;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blue(15px);
}

nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1.1rem;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.3);
}

nav a.active {
  background: var(--color-primary);
  color: var(--color-bg);
}

.card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
